<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="\static\style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    a:hover{
    color:white
    }
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    h1 {
      color: White;
    }
    h3 {
      color: Red;
    }
	h1,p,form
	{
		text-align: center;
	}	 
</style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>
<body>

  <div class="full-screen">
    <video src="\static\web.mp4" autoplay muted loop></video>
    <div class='w3-container w3-display-middle'>
		<div class='w3-panel w3-card' style='height: 350px;'>
		<h1 style="color:yellow;">Login Page</h1>
		<img src='/static/images/Flipkart.jpeg' />
        <p style="color:yellow;"> Name </p>
			<form class="form-inline my-2 my-lg-0" id='input-form' method='POST' action='#'>
				<input class="form-control mr-sm-2" type='text' name='nm'  placeholder="Search" style='width: 300px;'/><br><br>
				
				<input class="btn btn-outline-success my-2 my-sm-0" id='submitbutton' type='submit' value='Submit'/>
    			
			</form>
			
		</div> 
    </div>
  </div>
</body>
</html>