<!DOCTYPE>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>homepage</title>
<style>
    a:hover{
    color:white
    }
    div.a {
      text-align: center;
    }
    h1 {
      color: White;
    }
    h3 {
      color: Red;
    }
	h1,h3
	{
		text-align: center;
	}	 
    
 
</style>
<style>
body{
        background-image: url("static/images/offer.jpeg"),url("static/images/dukkan.jpg");
        background-position: right bottom,left bottom;
        background-size: 500px 300px;
        background-repeat:no-repeat,no-repeat;
        padding: 15px;
        
    }

</style>
</head>
<body>
    <h1>Welcome to Jeypore Dukaan</h1>
    <h3>Click below to explore our products</h3>
    <nav>
        <div class="a">
        <a href="https://mydukaan.io/jeypore2"><h1>CLICK HERE</h1></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
    </nav>
<video width="320" height="240" controls>
  <source src="movie.mp4" type="static/images/video/mp4">
  <source src="movie.ogg" type="static/images/  video/ogg">
  Your browser does not support the video tag.
</video>
</body>
</html>