<html>
<head>
<link rel="stylesheet" href="\static\style1.css">

<style>
	h1
	{
		text-align: center;
	}
	form
	{
	 	text-align: center;
	}

</style>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
<body style="background-color: rgb(3, 252, 232);">
</head>
<div class='w3-container w3-display-middle'>
<div class='w3-panel w3-card' style='height: 350px;'>
<form class="form-inline my-2 my-lg-0" id='input-form' method='POST' action='#'>
<input class="form-control mr-sm-2" type='text' name='urll' placeholder='Product number' style='width: 300px;' /><br><br>				
<input class="form-control mr-sm-2" type='text' name='urlll' placeholder='product name' style='width: 300px;' /><br><br>				
<input class="btn btn-outline-success my-2 my-sm-0" id='submitbutton' type='submit' name='submitbutton' value='Search URL'/>
</form>
</div>
</div>
<div class="full-screen">
    <video src="\static\web.mp4" autoplay muted loop></video>
     
    </div>
</body>
</html>